################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InfinitasFestas/bin/Debug
/InfinitasFestas/obj/Debug
